
/* Your CSS Code here. */
#heading{
	font-size:15px;
	
/* 	text-decoration:underline; */
/* 	color:white; */
}
.heading{
	background-color:purple;
	color:white;
	padding:10px;
	text-decoration:underline;
/* 	border-left-color:green; */
/* 	border-left-thickness:5px; */
	border-left:5px solid green;
	font-size:20px;
	width:200px;
}